<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hkm.staffvend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_jj"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SetupDash"
            tools:ignore="InnerclassSeparator"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainOffice"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".SecNewTable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SecBillCollection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SecPayment"
            android:theme="@style/AppTheme.NoActionBar" />
    <!--    <activity
            android:name=".SecScanTbe"
            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".SecAbout"
            android:label="@string/nothing"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
